body {
    font-family: arial,sans-serif;
    color: gray;
    height:100%;
    width:95%;
}

/*div.container {
    height:100%;
    border-top-width:1px;
    border-top-color:black;
    border-top-style:solid;
}*/

div.left {
    position:relative;
    top:5%;
    width:40%;
    height:300px;
    float:left;
    overflow:auto;
    border-right-width:1px;
    border-right-color:black;
    border-right-style:solid;
}

div.right {
    position:relative;
    top:5%;
    left:2%;
    height:300px;
    float:left;
    width:59%;

}

div.buttons {
    position:relative;
    width:20%;
    top:25px;
    height:70px;
    float:left;
}


div.url {
    position:relative;
    left:2%;
    top:25px;
    height:70px;
    float:left;
    width:79%;

}

div.separation {
    position:relative;
    height:50px;
    width:100%;
/*    border-bottom-width:1px;
    border-bottom-color:black;
    border-bottom-style:solid;*/
}

#footer {
    width: 100%;
    height: 30px;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

li {
    list-style-type: square;
}

table#multi tr.selected {
    font-weight:bold;
}