body {
    font-family: arial,sans-serif;
/*    font-size: 76%; */
    color: green;
    height:100%;
    width:95%;
}

/*div.container {
    height:100%;
    border-top-width:1px;
    border-top-color:black;
    border-top-style:solid;
}*/

h1 {
    margin-top:0.25em;
    margin-bottom:0.25em;
}

div.left h4 {
    margin-top:0.5em;
    margin-bottom:0.5em;
}

div.left {
    text-align:center;
    position:relative;
    width:100%;
    float:left;
}

div.right {
    text-align: center;
}

div.buttons {
    position:relative;
    width:40%;
    top:25px;
    height:90px;
    float:left;
}

div.url {
    position:relative;
    top:25px;
    height:90px;
    float:left;
    width:59%;
    font-weight:bold;
}

ul#multi,ul#multi li {
    margin:0;
    padding:0;
    list-style:none
}

ul#multi {
    width: 100%;
    overflow: hidden;
/*    	padding: 1em 0;
    margin:4em 0;*/
    line-height: 1.8;
    background: green;
    margin-bottom:0.5em;
    color: #FFFFFF
}

ul#multi li {
    float: left;
    width: 18%;
    margin-left: 1%;
    display: inline;
    border-bottom:1px dotted #FFFFFF
} 

#footer {
    width: 100%;
    height: 30px;
    position: relative;
    top: 20px;
    left: 0px;
    right: 0px;
    text-align: center;
}

#footer_table {
    border:2px solid;
    border-radius:25px;
    padding-left: 10px;
    padding-right: 10px;
}


ul#multi li.selected {
    font-weight:bold;
}

/*div.separation {
    position:relative;
    top:5px;
    width:100%;
    border-bottom-width:1px;
    border-bottom-color:green;
    border-bottom-style:solid;
}*/